@model Camada.Dominio.Mensagens.TelaCalc

@{
    ViewBag.Title = "Create";
}

<h2><i class="fa fa-list"></i> Details</h2>
<div class="form-horizontal">
    <h4>Calculator</h4>
    <hr />
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Calculator</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.TotalCalc, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.TotalCalc, new
           {
               htmlAttributes = new
               {
                   @class = "form-control",
                   @readonly = "readonly"
               }
           })
            </div>
        </div>
        <hr />

        <div class="form-group">
            <label for="DescriptionCalcType" class="col-sm-2 control-label">Calc Type</label>
            <div class="col-sm-2">
                @Html.EditorFor(model => model.DescriptionCalcType, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Qnt_1_Cent, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.Qnt_1_Cent, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>

            @Html.LabelFor(model => model.Qnt_2_Cents, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.Qnt_2_Cents, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
            @Html.LabelFor(model => model.Qnt_5_Cents, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.Qnt_5_Cents, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Qnt_10_Cents, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.Qnt_10_Cents, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
            @Html.LabelFor(model => model.Qnt_20_Cents, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.Qnt_20_Cents, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
            @Html.LabelFor(model => model.Qnt_50_Cents, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.Qnt_50_Cents, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Qnt_1_Euro, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.Qnt_1_Euro, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
            @Html.LabelFor(model => model.Qnt_2_Euros, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.Qnt_2_Euros, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
            @Html.LabelFor(model => model.Qnt_5_Euros, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.Qnt_5_Euros, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Qnt_10_Euros, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.Qnt_10_Euros, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
            @Html.LabelFor(model => model.Qnt_20_Euros, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.Qnt_20_Euros, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
            @Html.LabelFor(model => model.Qnt_50_Euros, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.Qnt_50_Euros, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Qnt_100_Euros, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.Qnt_100_Euros, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
            @Html.LabelFor(model => model.Qnt_200_Euros, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.Qnt_200_Euros, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
            @Html.LabelFor(model => model.Qnt_500_Euros, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.Qnt_500_Euros, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalMoney_Count, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.TotalMoney_Count, new
           {
               htmlAttributes = new
               {
                   @class = "form-control",
                   @readonly = "readonly"
               }
           })
                @Html.ValidationMessageFor(model => model.TotalMoney_Count, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5">
                <button type="button" class="btn btn-default btn-sm pull-left" onclick="location.href='@Url.Action("Index", "Calc")'"
                        data-loading-text="
                        <i class='fa fa-circle-o-notch fa-spin'></i> Copied ">
                        <i class="fa fa-arrow-left"></i> &nbsp;
                    Back to List
                    </button>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
